
{% extends 'base.html' %}
{% load staticfiles %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
 <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
 <script src="https://code.highcharts.com/highcharts.src.js"></script>

{% block content %}
  <h2>Select file</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>


  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    <div hidden id="myVar" name="variable"> {{array_DI}}</div>
    <div id="myChart"></div>
    <a href="{% url 'export_users_csv' %}">Download</a>
    <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    var array_ADX = {{ array_ADX }}

    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'ADX,+ DI14 & -DI14'
        },
        series: [{
            name: 'ADX',
            data: {{ ADX }}
        }, {
            name: '+DI 14',
            data: {{ array_DI }}
        }, {
            name: '-DI 14',
            data: {{ array_DI_nv }}
        }]
    });
  </script>

  {% endif %}
{% endblock %}
